 <h1>Welcome to restonaze.com</h1>

<% @restaurants.each do |restaurant| %>
<ul>
<li><%= link_to(restaurant.name, restaurant_path(restaurant.id)) %>
  <%= link_to "Add a review", new_restaurant_review_path(restaurant.id) %>
</li>
</ul>
<br>
<% end %>
<%= link_to "Add un resto d'ses morts!", new_restaurant_path %>
